<p id="notice"><%= notice %></p>

<h1>Surplus Products</h1>
<table class="table table-striped table-hover DataTables">
  <thead>
    <tr>
      <th>Job</th>
      <th>Part description</th>
      <th>Part Image</th>
      <th>Price</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @surplus_products.each do |surplus_product| %>
      <tr>
        <td><%= surplus_product.job_id %></td>
        <td><%= surplus_product.part_description %></td>
        <td><%= image_tag(surplus_product.photo,class: 'list.image', :size => "100x75")%></td>
        <td><%= number_to_currency(surplus_product.price) %></td>
        <td><%= link_to t('.show', :default => t("helpers.links.show")),
                        surplus_product_path(surplus_product), :class => 'fa fa-eye fa-2 btn btn-success btn-sm' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_surplus_product_path(surplus_product), :class => 'fa fa-eye fa-2 btn btn-warning btn-sm' %>
          <%= link_to 'Delete', surplus_product, method: :delete, data: { confirm: 'Are you sure?' },  :class => 'fa fa-eye fa-2 btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= button_to "Create New Surplus Product", new_surplus_product_path, :class => "button", :method => :get  %>
</div>
