<p id="notice"><%= notice %></p>

<h3>Surplus Product Data</h3>
<table class="table-bordered table-condensed">
  <thead>
  <tr>
    <th>Field</th>
    <th>Data</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><strong>Job:</strong></td><td><%= @surplus_product.job_id %></td>
  </tr>
  <tr>
    <td><strong>Part Description:</strong></td><td><%= @surplus_product.part_description %></td>
  </tr>
  <tr>
    <td><strong>Part Image:</strong></td><td><%= image_tag(@surplus_product.photo, class: 'list.image', :size => "100x75") %></td>
  </tr>
  <tr>
    <td><strong>Price:</strong></td><td><%= number_to_currency(@surplus_product.price) %></td>
  </tr>
  </tbody>

</table>


<br>

<%= link_to 'Edit', edit_surplus_product_path(@surplus_product) %> |
<%= link_to 'Back', surplus_products_path %>