<p id="notice"><%= notice %></p>

<h1>Services</h1>
<table class="table table-striped table-hover DataTables">
  <thead>
    <tr>
      <th>Description</th>
      <th>Price</th>
      <th>Flag hours</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.desc %></td>
        <td><%= number_to_currency(service.price) %></td>
        <td><%= service.flag_hrs %></td>
        <td><%= link_to t('.show', :default => t("helpers.links.show")),
                        service_path(service), :class => 'fa fa-eye fa-2 btn btn-success btn-sm' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_service_path(service), :class => 'fa fa-eye fa-2 btn btn-warning btn-sm' %>
          <%= link_to 'Delete', service, method: :delete, data: { confirm: 'Are you sure?' },  :class => 'fa fa-eye fa-2 btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= button_to "Create New Service", new_service_path, :class => "button", :method => :get  %>
</div>
