<p id="notice"><%= notice %></p>

<h3>Service Data</h3>
<table class="table-bordered table-condensed">
  <thead>
  <tr>
    <th>Field</th>
    <th>Data</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><strong>Description:</strong></td><td><%= @service.desc %></td>
  </tr>
  <tr>
    <td><strong>Price:</strong></td><td><%= number_to_currency(@service.price) %></td>
  </tr>
  <tr>
    <td><strong>Flag Hours:</strong></td><td><%= @service.flag_hrs %></td>
  </tr>
  </tbody>

</table>

<br>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
