<h1>Editing Engine</h1>

<%= render 'form' %>

<%= link_to 'Show', @engine %> |
<%= link_to 'Back', engines_path %>
<div>
  <%= button_to "Show Engine", @engine, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Engines", engines_path, :class => "button", :method => :get  %>
</div>