<p id="notice"><%= notice %></p>

<h1>Engines</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @engines.each do |engine| %>
      <tr>
        <td><%= engine.code %></td>
        <td class="btn btn-success"><%= link_to 'Show', engine %></td>
        <td class="btn btn-warning"><%= link_to 'Edit', edit_engine_path(engine) %></td>
        <td class="btn btn-danger"><%= link_to 'Destroy', engine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= button_to "Create New Engine Type", new_engine_path, :class => "button", :method => :get  %>
</div>
