<p id="notice"><%= notice %></p>

<h1>Models</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @models.each do |model| %>
      <tr>
        <td><%= model.name %></td>
        <td class="btn btn-success"><%= link_to 'Show', model %></td>
        <td class="btn btn-warning"><%= link_to 'Edit', edit_model_path(model) %></td>
        <td class="btn btn-danger"><%= link_to 'Destroy', model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= button_to "Create New Model", new_model_path, :class => "button", :method => :get  %>
</div>
