<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @model.name %>
</p>


<div>
  <%= button_to "Edit Model", edit_model_path, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Models", models_path, :class => "button", :method => :get  %>
</div>