<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fname, "First Name"  %><br>
    <%= f.text_field :fname, :placeholder => "John" %>
  </div>
  <div class="field">
    <%= f.label :lname, "Last Name" %><br>
    <%= f.text_field :lname, :placeholder => "Smith" %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, :placeholder => "XXXXXXXXXX" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, :placeholder => "xxx@xxx.com" %>
  </div>
  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street, :placeholder => "xxx street name" %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city, :placeholder => "Houston" %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip, :placeholder => "77XXX" %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :status,"Active"%><br>
    <%= f.check_box :show_active %>
  </div>
  <div class="field">
    <%= f.label :pay_rate %><br>
    <%= f.text_field :pay_rate, :placeholder => "0.XX%" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
