<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<table class="table table-striped table-hover DataTables">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Start Date</th>
      <th>Active</th>
      <th>Pay Rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.fname %></td>
        <td><%= employee.lname %></td>
        <td><%= number_to_phone(employee.phone, area_code: true) %></td>
        <td><%= employee.email %></td>
        <td><%= employee.street %></td>
        <td><%= employee.city %></td>
        <td><%= employee.state %></td>
        <td><%= employee.zip %></td>
        <td><%= employee.start_date %></td>
        <td><%= employee.show_active %></td>
        <td><%= employee.pay_rate %></td>
        <td class="btn btn-success"><%= link_to 'Show', employee %></td>
        <td class="btn btn-warning"><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td class="btn btn-danger"><%= link_to 'Terminate', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= button_to "Create New Enployee", new_employee_path, :class => "button", :method => :get  %>
</div>
