<h1>Editing Make</h1>

<%= render 'form' %>

<div>
  <%= button_to "Show Make", @make, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Makes", makes_path, :class => "button", :method => :get  %>
</div>