<p id="notice"><%= notice %></p>

<h1>Makes</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @makes.each do |make| %>
      <tr>
        <td><%= make.name %></td>
        <td class="btn btn-success"><%= link_to 'Show', make %></td>
        <td class="btn btn-warning"><%= link_to 'Edit', edit_make_path(make) %></td>
        <td class="btn btn-danger"><%= link_to 'Destroy', make, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= button_to "Create New Make", new_make_path, :class => "button", :method => :get  %>
</div>
