<p id="notice"><%= notice %></p>

<h1>Invoices</h1>
<table class="table table-striped table-hover DataTables">
  <thead>
    <tr>
      <th>Invoice</th>
      <th>Customer</th>
      <th>Date</th>
      <th>Subtotal</th>
      <th>Adjustment</th>
      <th>Tax</th>
      <th>Total</th>
      <th>Payment Status</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.id %></td>
        <td><%= invoice.customer.show_full_name %></td>
        <td><%= invoice.date %></td>
        <td><%= number_to_currency(invoice.subtotal) %></td>
        <td><%= number_to_currency(invoice.adjustment) %></td>
        <td><%= number_to_currency(invoice.tax) %></td>
        <td><%= number_to_currency(invoice.total) %></td>
        <td><%= invoice.show_paid %></td>
        <td><%= link_to t('.show', :default => t("helpers.links.show")),
                        invoice_path(invoice), :class => 'fa fa-eye fa-2 btn btn-success btn-sm' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_invoice_path(invoice), :class => 'fa fa-eye fa-2 btn btn-warning btn-sm' %>
          <%= link_to 'Delete', invoice, method: :delete, data: { confirm: 'Are you sure?' },  :class => 'fa fa-eye fa-2 btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= button_to "Create New Invoice", new_invoice_path, :class => "button", :method => :get  %>
</div>
