<p id="notice"><%= notice %></p>
<h3>Invoice Data</h3>
<table class="table-bordered table-condensed">
  <thead>
  <tr>
    <th>Field</th>
    <th>Data</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><strong>Customer:</strong></td><td><%= @invoice.customer.show_full_name %></td>
  </tr>
  <tr>
    <td><strong>Date:</strong></td><td><%= @invoice.date %></td>
  </tr>
  <tr>
    <td><strong>Subtotal:</strong></td><td><%=  number_to_currency(@invoice.subtotal) %></td>
  </tr>
  <tr>
    <td><strong>Adjustment:</strong></td><td><%= number_to_currency(@invoice.adjustment) %></td>
  </tr>
  <tr>
    <td><strong>Tax:</strong></td><td><%= number_to_currency(@invoice.tax) %></td>
  </tr>
  <tr>
    <td><strong>Total:</strong></td><td><%= number_to_currency(@invoice.total) %></td>
  </tr>
  <tr>
    <td><strong>Payment Status:</strong></td><td><%= @invoice.show_paid %></td>
  </tr>
  </tbody>

</table>

<br>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>

<br>
<br>
<div>
<button type="button" class="btn btn-default"><%= link_to "Create Invoice", invoice_path(@invoice, :format => 'pdf') %></button>
</div>
