<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vehicle_id %><br>
    <%= f.collection_select :vehicle_id, Vehicle.all, :id, :show_veh_info, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.collection_select :employee_id, Employee.all, :id, :show_full_name, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :invoice_id %><br>
    <%= f.number_field :invoice_id, :placeholder => "Leave Blank" %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :complete, "Job Complete" %><br>
    <%= f.check_box :complete %>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_area :comments, :placeholder => "Enter any notes about the job here." %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
