<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

<table class="table table-striped table-hover DataTables">
  <thead>
    <tr>
      <th>Job</th>
      <th>Vehicle</th>
      <th>Employee</th>
      <th>Invoice</th>
      <th>Amount</th>
      <th>Job Status</th>
      <th>Comments</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.id %></td>
        <td><%= job.vehicle.show_veh_info %></td>
        <td><%= job.employee.show_full_name %></td>
        <td><%= job.invoice_id %></td>
        <td><%= number_to_currency(job.amount) %></td>
        <td><%= job.show_complete %></td>
        <td><%= job.comments %></td>
        <td><%= link_to t('.show', :default => t("helpers.links.show")),
                        job_path(job), :class => 'fa fa-eye fa-2 btn btn-success btn-sm' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_job_path(job), :class => 'fa fa-eye fa-2 btn btn-warning btn-sm' %>
          <%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' },  :class => 'fa fa-eye fa-2 btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= button_to "Create New Job", new_job_path, :class => "button", :method => :get  %>
</div>
