<p id="notice"><%= notice %></p>
<h3>Job Data</h3>
<p>
  <strong>Vehicle:</strong>
  <%= @job.vehicle.show_veh_info %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @job.employee.show_full_name %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @job.invoice_id %>
</p>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Service Rendered</th>
    <th>Technician Assigned</th>
    <th>Labor hours</th>
    <th>Charge</th>
    <th>Job Status</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @job.line_items.each do |j| %>
      <tr>
        <td><%= j.service.desc %></td>
        <td><%= j.employee.show_full_name %></td>
        <td><%= j.labor_hrs %></td>
        <td><%= number_to_currency(j.charge) %></td>
        <td><%= j.show_complete %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@job.amount) %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @job.show_complete %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @job.comments %>
</p>

<br>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>

