<p id="notice"><%= notice %></p>

<h1>Transmissions</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Style</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transmissions.each do |transmission| %>
      <tr>
        <td><%= transmission.style %></td>
<<<<<<< HEAD
        <td  class="btn btn-success"><%= link_to 'Show', transmission %></td>
        <td  class="btn btn-warning"><%= link_to 'Edit', edit_transmission_path(transmission) %></td>
        <td  class="btn btn-danger"><%= link_to 'Destroy', transmission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
=======
        <td class="btn btn-success"><%= link_to 'Show', transmission %></td>
        <td class="btn btn-warning"><%= link_to 'Edit', edit_transmission_path(transmission) %></td>
        <td class="btn btn-danger"><%= link_to 'Destroy', transmission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
>>>>>>> c3225213ee1cab12016848695ba676781316922a
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= button_to "Create New Transmission Type", new_transmission_path, :class => "button", :method => :get  %>
</div>
