<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fname, "First Name" %><br>
    <%= f.text_field :fname, :placeholder => "John" %>
  </div>
  <div class="field">
    <%= f.label :lname, "Last Name" %><br>
    <%= f.text_field :lname, :placeholder => "Smith" %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, :placeholder => "XXXXXXXXXX" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, :placeholder => "xxx@xxx.com" %>
  </div>
  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street, :placeholder => "xxx street name" %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city, :placeholder => "Houston" %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip, :placeholder => "77XXX" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
