<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<table class="table table-striped table-hover DataTables">
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.fname %></td>
        <td><%= customer.lname %></td>
        <td><%= number_to_phone(customer.phone, area_code: true) %></td>
        <td><%= customer.email %></td>
        <td><%= customer.street %></td>
        <td><%= customer.city %></td>
        <td><%= customer.state %></td>
        <td><%= customer.zip %></td>
        <td><%= link_to t('.show', :default => t("helpers.links.show")),
                    customer_path(customer), :class => 'fa fa-eye fa-2 btn btn-success btn-sm' %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_customer_path(customer), :class => 'fa fa-eye fa-2 btn btn-warning btn-sm' %>
          <%= link_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' },  :class => 'fa fa-eye fa-2 btn btn-danger btn-sm' %></td>
      </tr>

    <% end %>

  </tbody>

</table>

<div>
  <%= button_to "Create New Customer", new_customer_path, :class => "button", :method => :get  %>
</div>
