<p id="notice"><%= notice %></p>

<h3>Customer Data</h3>
<table class="table-bordered table-condensed">
  <thead>
  <tr>
    <th>Field</th>
    <th>Data</th>
  </tr>
  </thead>

  <tbody>
      <tr>
        <td><strong>First Name:</strong></td><td><%= @customer.fname %></td>
      </tr>
      <tr>
        <td><strong>Last Name:</strong></td><td><%= @customer.lname %></td>
      </tr>
      <tr>
        <td><strong>Phone:</strong></td><td><%= number_to_phone(@customer.phone, area_code: true) %></td>
      </tr>
      <tr>
        <td><strong>Email:</strong></td><td><%= @customer.street %></td>
      </tr>
      <tr>
        <td><strong>Street:</strong></td><td><%= @customer.city %></td>
      </tr>
      <tr>
        <td><strong>Last Name</strong></td><td><%= @customer.state %></td>
      </tr>
      <tr>
        <td><strong>Last Name</strong></td><td><%= @customer.zip %></td>
      </tr>
  </tbody>

</table>

<br>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>