<h1>Editing Chassis Code</h1>

<%= render 'form' %>

<%= link_to 'Show', @chass %> |
<%= link_to 'Back', chasses_path %>
<div>
  <%= button_to "Show Chassis", @chass, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Chassis", chass_path, :class => "button", :method => :get  %>
</div>