<p id="notice"><%= notice %></p>

<h1>Chassis Codes</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chasses.each do |chass| %>
      <tr>
        <td><%= chass.code %></td>
        <td class="btn btn-success"><%= link_to 'Show', chass %></td>
        <td class="btn btn-warning"><%= link_to 'Edit', edit_chass_path(chass) %></td>
        <td class="btn btn-danger"><%= link_to 'Destroy', chass, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= button_to "Create New Chassis Code", new_chass_path, :class => "button", :method => :get  %>
</div>
