<p id="notice"><%= notice %></p>

<h1>Vehicles</h1>

<table class="table table-striped table-hover DataTables">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Exterior Color</th>
      <th>Chassis</th>
      <th>Engine</th>
      <th>Transmission</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.customer.show_full_name %></td>
        <td><%= vehicle.year.mod_year %></td>
        <td><%= vehicle.make.name %></td>
        <td><%= vehicle.model.name %></td>
        <td><%= vehicle.color.name %></td>
        <td><%= vehicle.chassis.code %></td>
        <td><%= vehicle.engine.code %></td>
        <td><%= vehicle.transmission.style %></td>
        <td><%= link_to t('.show', :default => t("helpers.links.show")),
                        vehicle_path(vehicle), :class => 'fa fa-eye fa-2 btn btn-success btn-sm' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_vehicle_path(vehicle), :class => 'fa fa-eye fa-2 btn btn-warning btn-sm' %>
          <%= link_to 'Delete', vehicle, method: :delete, data: { confirm: 'Are you sure?' },  :class => 'fa fa-eye fa-2 btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= button_to "Create New Vehicle", new_vehicle_path, :class => "button", :method => :get  %>
</div>
