<p id="notice"><%= notice %></p>
<h3>Vehicle Data</h3>
<table class="table-bordered table-condensed">
  <thead>
  <tr>
    <th>Field</th>
    <th>Data</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><strong>Customer:</strong></td><td><%= @vehicle.customer.show_full_name %></td>
  </tr>
  <tr>
    <td><strong>Year:</strong></td><td><%= @vehicle.year.mod_year %></td>
  </tr>
  <tr>
    <td><strong>Make:</strong></td><td><%= @vehicle.make.name %></td>
  </tr>
  <tr>
    <td><strong>Model:</strong></td><td><%= @vehicle.model.name %></td>
  </tr>
  <tr>
    <td><strong>Exterior Color:</strong></td><td><%= @vehicle.color.name %></td>
  </tr>
  <tr>
    <td><strong>Chassis:</strong></td><td><%= @vehicle.chassis.code %></td>
  </tr>
  <tr>
    <td><strong>Engine:</strong></td><td><%= @vehicle.engine.code %></td>
  </tr>
  <tr>
    <td><strong>Tranny:</strong></td><td><%= @vehicle.transmission.style %></td>
  </tr>
  </tbody>

</table>

<br>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>