<p id="notice"><%= notice %></p>

<h1>Appointments</h1>
<table class="table table-striped table-hover DataTables">
  <thead>
    <tr>
      <th>Job</th>
      <th>Date</th>
      <th>Comments</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.job_id %></td>
        <td><%= appointment.date.strftime("%A, %B %d %I:%M%P %G") %></td>
        <td><%= appointment.comments %></td>
        <td><%= link_to t('.show', :default => t("helpers.links.show")),
                        appointment_path(appointment), :class => 'fa fa-eye fa-2 btn btn-success btn-sm' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_appointment_path(appointment), :class => 'fa fa-eye fa-2 btn btn-warning btn-sm' %>
          <%= link_to 'Delete', appointment, method: :delete, data: { confirm: 'Are you sure?' },  :class => 'fa fa-eye fa-2 btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= button_to "Create New Appointment", new_appointment_path, :class => "button", :method => :get  %>
</div>
