<p id="notice"><%= notice %></p>
<h3>Appointment Data</h3>
<table class="table-bordered table-condensed">
  <thead>
  <tr>
    <th>Field</th>
    <th>Data</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><strong>Job:</strong></td><td><%= @appointment.job_id %></td>
  </tr>
  <tr>
    <td><strong>Date:</strong></td><td><%= @appointment.date.strftime("%A, %B %d %I:%M%P %G") %></td>
  </tr>
  <tr>
    <td><strong>Comments:</strong></td><td><%= @appointment.comments %></td>
  </tr>
  </tbody>

</table>

<br>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>