<%= form_for(@line_item) do |f| %>

    <script>
        function update_price() {

            var newPrice = document.getElementById("line_item_service_id").value;
            console.log(newPrice);
            jQuery.ajax({
                url: "/update_price",
                type: "GET",
                data: {"service_id" : newPrice},
                dataType: "html",
                success: function(data) {
                    jQuery("#line_item_charge").html(data);
                }
            });
        }</script>


  <% if @line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_item.errors.count, "error") %> prohibited this line_item from being saved:</h2>

      <ul>
      <% @line_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :job_id %><br>
    <%= f.collection_select :job_id, Job.all, :id, :id, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :employee_id,"Technician" %><br>
    <%= f.collection_select :employee_id, Employee.all, :id, :show_full_name, prompt: true %>
  </div>
    <div class="field">
      <%= f.label :service_id %><br>
      <%= f.collection_select(:service_id, Service.all, :id, :desc, {prompt: true}, {:onchange => "update_price(this.value)", :onload => "update_price(this.value)"}) %>
    </div>
  <div class="field">
    <%= f.label :labor_hrs %><br>
    <%= f.text_field :labor_hrs, :placeholder => "Expected Labor Hrs" %>
  </div>
  <div class="field">
    <%= f.label :charge %><br>
    <%= f.text_field :charge, :placeholder => "Auto Generated" %>
  </div>
  <div class="field">
    <%= f.label :complete, "Line Item Complete" %><br>
    <%= f.check_box :complete %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
