<p id="notice"><%= notice %></p>

<h1>Line Items</h1>
<table class="table table-striped table-hover DataTables">
  <thead>
    <tr>
      <th>Job</th>
      <th>Technician</th>
      <th>Service</th>
      <th>Labor hrs</th>
      <th>Charge</th>
      <th>Line Item Complete</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.job_id %></td>
        <td><%= line_item.employee.show_full_name %></td>
        <td><%= line_item.service.desc %></td>
        <td><%= line_item.labor_hrs %></td>
        <td><%= number_to_currency(line_item.charge) %></td>
        <td><%= line_item.show_complete %></td>
        <td><%= link_to t('.show', :default => t("helpers.links.show")),
                        line_item_path(line_item), :class => 'fa fa-eye fa-2 btn btn-success btn-sm' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_line_item_path(line_item), :class => 'fa fa-eye fa-2 btn btn-warning btn-sm' %>
          <%= link_to 'Delete', line_item, method: :delete, data: { confirm: 'Are you sure?' },  :class => 'fa fa-eye fa-2 btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= button_to "Create New Line Item", new_line_item_path, :class => "button", :method => :get  %>
</div>
