<p id="notice"><%= notice %></p>
<h3>Line Item Data</h3>
<table class="table-bordered table-condensed">
  <thead>
  <tr>
    <th>Field</th>
    <th>Data</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><strong>Job:</strong></td><td><%= @line_item.job_id %></td>
  </tr>
  <tr>
    <td><strong>Technician:</strong></td><td><%= @line_item.employee.show_full_name %></td>
  </tr>
  <tr>
    <td><strong>Service:</strong></td><td><%= @line_item.service.desc %></td>
  </tr>
  <tr>
    <td><strong>Labor hours:</strong></td><td><%= @line_item.labor_hrs %></td>
  </tr>
  <tr>
    <td><strong>Charge:</strong></td><td><%= number_to_currency(@line_item.charge) %></td>
  </tr>
  <tr>
    <td><strong>Line Item Complete:</strong></td><td><%= @line_item.show_complete %></td>
  </tr>
  </tbody>

</table>

<br>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
