<p id="notice"><%= notice %></p>

<h1>Listing Years</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Mod year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @years.each do |year| %>
      <tr>
        <td><%= year.mod_year %></td>
        <td class="btn btn-success"><%= link_to 'Show', year %></td>
        <td class="btn btn-warning"><%= link_to 'Edit', edit_year_path(year) %></td>
        <td class="btn btn-danger"><%= link_to 'Delete', year, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= button_to "Create New Model Year", new_year_path, :class => "button", :method => :get  %>
</div>
