<p id="notice"><%= notice %></p>

<h1>Reports</h1>
<br>
<br>

<div class="row">
  <div class="col-sm-4">
<h3>Job Reports</h3>
<table class="table-bordered table-condensed">
  <thead>
  <tr>
    <th>Report</th>
    <th>Data</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><strong>Total Jobs:</strong></td><td><%= Job.count %></td>
  </tr>
  <tr>
    <td><strong>Closed Jobs:</strong></td><td><%= Job.where(complete: true).count %></td>
  </tr>
  <tr>
    <td><strong>Open Jobs:</strong></td><td><%= Job.where(complete: false).count %></td>
  </tr>
  </tbody>
</table>






<h3>Invoice Reports</h3>
<table class="table-bordered table-condensed">
  <thead>
  <tr>
    <th>Report</th>
    <th>Data</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><strong>Total Invoices:</strong></td><td><%= Invoice.count %></td>
  </tr>
  <tr>
    <td><strong>Paid Invoices:</strong></td><td><%= Invoice.where(paid: true).count %></td>
  </tr>
  <tr>
    <td><strong>Unpaid Invoices:</strong></td><td><%= Invoice.where(paid: false).count %></td>
  </tr>
  </tbody>
</table>
  </div>




  <div class="col-sm-4">
<h3>Task Reports</h3>
<table class="table-bordered table-condensed">
  <thead>
  <tr>
    <th>Report</th>
    <th>Data</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><strong>Total Line Items:</strong></td><td><%= LineItem.count %></td>
  </tr>
  <tr>
    <td><strong>Finished Line Items:</strong></td><td><%= LineItem.where(complete: true).count %></td>
  </tr>
  <tr>
    <td><strong>Incomplete Line Items:</strong></td><td><%= LineItem.where(complete: false).count %></td>
  </tr>
  </tbody>
</table>




<h3>Financial Reports</h3>
<table class="table-bordered table-condensed">
  <thead>
  <tr>
    <th>Report</th>
    <th>Data</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><strong>Gross Revenue:</strong></td><td><%= number_to_currency(Invoice.sum(:total)) %></td>
  </tr>
  <tr>
    <td><strong>Accounts Receivable:</strong></td><td><%= number_to_currency(Invoice.where(paid: false).sum(:total)) %></td>
  </tr>
  </tbody>
</table>
</div>




  <div class="col-sm-4">
<h3>Analytic Reports</h3>
<table class="table-bordered table-condensed">
  <thead>
  <tr>
    <th>Report</th>
    <th>Data</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><strong>Efficiency</strong></td><td><%= LineItem.compare_hours %></td>
  </tr>
  </tbody>
</table>
</div>
</div>

